.button {
  background-color: var(--blue);
  color: var(--yellow);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 600;
}

.button.danger {
  background-color: #bc4646;
  color: #fff;
}

.button.naked {
  background-color: #fff;
  border: 1px solid #1d1d1b;
  color: #1d1d1b;
}

.button:hover,
.button:focus {
  background-color: var(--yellow);
  color: var(--blue);
}

.button.danger:hover,
.button.danger:focus {
  background-color: #843030;
  color: #fff;
}

.button.naked:hover,
.button.naked:focus {
  background-color: #fff;
  border: 1px solid #1d1d1b;
  color: #1d1d1b;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
  background-color: var(--pearl);
  color: #919189;
}

.button.full {
  width: 100%;
}
