.alert {
  background-color: var(--success);
  color: #fff;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.alert.show {
  opacity: 1;
}
