.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  margin-top: 1rem;
}

.productName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.actions {
  margin-top: 1.5rem;
  text-align: center;
}

.modalActions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.modalActions > button {
  flex: 1;
}
